{% extends 'base.html.twig' %}

{% block title %}VelvetSunLocation | Panier{% endblock %}

{% block body %}
    <h1>Votre panier</h1>
    <hr>
    <div class="container cart">
    </div>

{% endblock %}
