{% extends 'base.html.twig' %}

{% block title %}VelvetSun Location - Accueil{% endblock %}

{% block body %}
    <div class="container">
        <h2>Location de matériel de tournage</h2>
    </div>
    {{ encore_entry_script_tags('main')}}
{% endblock %}
