@import './variables';

* {
    box-sizing: border-box;
}
body {
    position: relative;
    background: $backBlue;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: rgb(238, 227, 227);
    font-family: sans-serif;
}

h2 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-login img {
    margin-right: 40px;
    cursor: pointer;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.container-home-login {
    margin-right: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    a {
        margin-left: 20px;
    }
    .container-home-cart {
        cursor: pointer;
    }
}

.container-login {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.container-login .register,
.container-login .login {
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.container-login .login form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.container-login .login form input,
.container-login .login form label,
.container-login .login form button {
    width: 100%;
}

.container-login .register {
    border-right: 1px solid rgb(225, 217, 217);
}

form {
    width: 100%;
}

form div {
    display: flex;
    flex-direction: column;
}

form button[type="submit"] {
    outline: none;
    background-color: #00cdac;
    color: #fff;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

form input {
    padding: 6px 10px;
    background-color: rgb(238, 227, 227);
    border: 1px solid #fff;
    margin-bottom: 15px;
    height: 40px;
}

form button[type="submit"]:hover {
    background-color: #fff;
    color: #00cdac;
}

#container-cart {
    position: relative;
    #cart-count {
        position: absolute;
        top: -30px;
        left: 20px;
        padding: 5px;
        background: $backgroundOrange;
        border-radius: 50%;
        width: 30px;
        height: 28px;
        text-align: center;
    }
}

.notification {
    font-weight: bold;
}

.subtitle {
    text-align: center;
    margin-top: 40px;
}

.container-favorite-product {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    .card-product {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 36%;
        max-width: 390px;
        margin: 0 30px;
        padding: 10px 14px;
        height: 210px;
        background: $backgroundOrange;
        background-repeat: no-repeat;
        border: 2px solid #fff;
        border-radius: 10px;
        color: #525958;
        cursor: pointer;
        p {
            margin: 0 0 20px;
        }
        .img-product {
            width: 150px;
            margin-bottom: 15px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .price-product {
            margin: 0;
        }
    }
    .card-product a:hover {
        color: #fff;
    }

}

.product-page {

    .subtitle {
        margin-bottom: 40px;
    }
    .container-info-product {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left-content {
        width: 30%;
        .img-product {
            width: 250px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .right-content {
        width: 70%;
    }

    .price-product {
        background: $backgroundOrange;
        border-radius: 6px;
        width: 180px;
        padding: 7px 10px;
        text-align: center;
    }

    .stock-product {
        background-color: #5cb85c;
        color: #fff;
        border-radius: 6px;
        width: 180px;
        padding: 7px 10px;
        text-align: center;
    }
    .cart-product {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .addon-minus, .addon-plus {
            padding: 0;
            width: 40px;
            height: 50px;
            line-height: 50px;
            background: #ebebeb;
            border: none;
            cursor: pointer;
            display: inline-block;
            border-radius: 0;
            z-index: 10;
            color: rgba(17,17,17,0.75);
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 20px;
                height: 20px;
            }
        }
        #quantity-product {
            display: inline-block;
            height: 50px;
            width: 60px;
            border: none;
            margin: 0 3px;
            text-align: center;
        }
        .cart-target {
            margin-left: 30px;
            button#add-to-cart {
                background: $backgroundOrange;
                background-repeat: no-repeat;
                color: #252525;
                letter-spacing: normal;
                text-transform: uppercase;
                font-size: 25px;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 8px 12px;
                transition: all 0.1s ease-in-out;
                &:hover {
                    color: #fff;
                }
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

}